button,
button:focus,
.btn,
.btn:focus,
input,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.mode {
  margin-right: 30px;
}

.mode i {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.mode input {
  display: none;
}

.text-muted {
  color: rgba(255, 0, 0, 0.795) !important;
}

div {
  overflow-x: hidden;
}
